background-size()
  -webkit-background-size arguments
  -moz-background-size arguments
  -o-background-size arguments
  background-size arguments  

body
  background-image url('../img/hipsters.png')
  background-repeat no-repeat
  background-position center center
  background-attachment fixed
  background-size cover

.hero-unit
  color black

.packages
  .span4
    padding-bottom 20px

.package
  background rgba(245, 222, 179, 0.4)
  color black
  padding 5px 10px
  small
    color rgb(0, 68, 204)
    
#my_canvas
  float left

#your_canvas
  float right

.container
  &__canvas
    padding 5px
    margin-bottom 20px
    box-shadow 0 0 40px #ccc